.words-container {
  width: 100%;
  height: 600px;
  margin-top: 15px;
  overflow-y: scroll;
  border: 1px solid #d1d1d1;
  border-radius: 4px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 31px;

  .word-item {
    flex: 1 0 25%;
    height: 20px;
    padding: 5px;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.selected {
      background-color: #f6f6f6;
      color: var(--color-primary);
    }

    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
    }
  }
}

.loading {
  grid-column: 1/5;
  grid-row: 5/10;
}

.error{
  padding: 25px;
  font-weight: bold;
  color: var(--color-warn);
}