.word-container {
  padding: 15px 25px;
}

.slider {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .word {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    background-color: #f6f6f6;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  audio {
    width: 100%;
    margin-top: 30px;
  }
}

.word-only {
  text-align: left;
  font-size: 20px;
  margin: 15px 0px 35px;
  text-transform: capitalize;
}

.meanings {

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .mean{
    text-transform: capitalize;
    margin-bottom: 5px;
  }
}

.navigate{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 35px;

  button{
    flex: 1;
  }
}