<div class="home-container">

    <header>
        <div class="logo desktop-only"> Words Dictionary </div>
        <div class="logo mobile-only"> WD </div>
        <app-auth></app-auth>
    </header>

    <div class="details-container" *ngIf="!isMobile()">
        <app-word-detail></app-word-detail>
    </div>

    <div class="words-container">
        <mat-button-toggle-group [value]="displayType" (change)="selectDisplay($event)">
            <mat-button-toggle value="all">Words List</mat-button-toggle>
            <mat-button-toggle value="favorites">Favorites</mat-button-toggle>
            <mat-button-toggle value="history">History</mat-button-toggle>
        </mat-button-toggle-group>

        <app-words-list [getFrom]="displayType"></app-words-list>
    </div>
</div>